<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header" style="background-color: #00B5B8 !important;margin-bottom: 35px;">
        <div class="row">
          <div class="col-6">
            <h4 style="font-size: 20px; color: white;">
              Show Author
            </h4>
          </div>
        </div>
      </div>
      <HR>

      <div class="card-body">

        <form method="post" id="insert_form">

          <div   class="cases-loading-shade">
            <mat-spinner ></mat-spinner>
          </div>
          <ng-container >
            <div class="table-responsive">
              <table class="table table-bordered" id="item_table">
                <tr>
                  <th>Id</th>
                </tr>
                <td><input type="text" class="form-control"  disabled>
                </td>
                <tr>
                  <th>name</th>
                </tr>
                <td><input type="text" class="form-control"  disabled>
                </td>
                <tr>
                  <th>points</th>
                </tr>
                <td><input type="text" class="form-control"  disabled>
                </td>
                <tr>
                  <th>country</th>
                </tr>
                <td><input type="text" class="form-control"  disabled>
                </td>
                <tr>
                  <th>picture</th>
                </tr>
                <td><input type="text" class="form-control"  disabled>
                </td>


              </table>
            </div>
          </ng-container>
        </form>


      </div>

    </div>
  </div>
</div>
