<div class="row">
  <div class="col-12">
    <div class="card" style="background-color: #00B5B8 !important;margin-bottom: 35px;"><div class="col-12">
      <div class="form-group" style="margin:10px;">
        <input class="form-control" type="text"  placeholder="Search">
      </div></div>
    </div>
    <div class="card">
      <div class="card-header" style="background-color: #00B5B8 !important;margin-bottom: 35px;">
        <div class="row">
          <div class="col-6">
            <h4>
              Author

              <span class="badge badge badge-info badge-pill mr-2"></span></h4>
          </div>
          <div class="col-6">
            <a class="btn btn-warning btn-sm pull-right"     style="margin-left: -9px;" title="Actualiser"><i class="fa fa-refresh"></i></a>

            <a class="alarme_clock btn btn-yahoo btn-sm pull-right mr-1" data-action="expand" title="Passer en Plein Ecran"><i class="ft-maximize" style="color:white;"></i></a>

            <a class="btn btn-primary btn-sm pull-right mr-1" routerLink="/abonnement/add"><i
              class="fa fa-plus mr-0"></i>
              nouvel enregistrement
            </a>

          </div>
        </div>

      </div>
      <HR>
      <div class="card-body">
        </div>
        <form method="post" id="insert_form">

          <div class="table-responsive"  >
            <table class="table table-bordered" id="item_table" >

              <tr>
                <th>Id</th>
                <th>name</th>
                <th>points</th>
                <th>picture</th>
                <th>country</th>
                <th>Actions</th>
              </tr>
              <ng-container>
                <tr *ngFor="let c of listAuthor">
                  <td>{{c.id}}</td>
                  <td>{{c.name}}</td>
                  <td>{{c.points}}</td>
                  <td>{{c.picture}}</td>
                  <td>{{c.country}}</td>

                  <td>
                    <a class="btn btn-primary"  style="margin-right: 10px;"  >show</a>
                    <a class="btn btn-success" style="margin-right: 10px;"  >edit</a>
                    <a class="btn btn-danger" >delete</a>
                  </td>
                </tr>
              </ng-container>
            </table>

          </div>
        </form>

      </div>
    </div>
  </div>
